body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(19, 18, 18);
}
.div {
  background-color: rgb(66, 62, 62);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 10px 0 100px rgb(63, 63, 247),
    -10px 0 100px rgb(208, 51, 208);
  color: aliceblue;
  background-image: linear-gradient(
to bottom right,
rgb(63, 63, 247),
rgb(208, 51, 208)
);
}
input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
}
button {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  margin: 5px;
}
li {
  font-family: "Courier New", Courier, monospace, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  font-style: bold;
  font-size: large;
}